---

interface Props {
  title: string;
  description: string;
  technologies: string[];
  liveUrl: string;
  githubUrl: string;
}

const { title, description, technologies, liveUrl, githubUrl } = Astro.props;
---

<div class="bg-gradient-to-br from-gray-900 via-[#0A0F1C] to-gray-900 rounded-md border border-blue-500/20 p-6 transition-all duration-300 hover:border-blue-400/30 hover:shadow-lg hover:shadow-blue-500/10 h-full flex flex-col backdrop-blur-sm backdrop-filter">
  
  <div class="space-y-4 flex-grow">
    
    <h3 class="inline-flex gap-2 items-center text-xl font-semibold text-blue-400 hover:text-blue-300 transition duration-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-code">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 8l-4 4l4 4" />
          <path d="M17 8l4 4l-4 4" />
          <path d="M14 4l-4 16" />
      </svg>
      {title}
    </h3>
    
    <div class="h-44 bg-gradient-to-br from-gray-800/50 to-gray-900/50 rounded-lg border border-gray-700/20 p-3 overflow-hidden">
      <div class="h-full overflow-y-auto">
        <p class="h-full text-gray-300 text-sm leading-relaxed scrollbar scrollbar-thumb-slate-500 scrollbar-track-gray-800 overflow-y-scroll">
          {description}
        </p>
      </div>
    </div>
    
    <div class="flex flex-wrap gap-2">
      {
        technologies.map( tech => (
          <span class="px-3 py-1 text-xs font-medium bg-gray-800/50 text-gray-300 rounded-full border border-gray-700 transition-all duration-300 hover:bg-gray-700/50 hover:border-gray-600 hover:scale-105 hover:shadow-sm">
            {tech}
          </span>
        ))
      }
    </div>

  </div>

  <div class="pt-4 flex justify-between border-t border-gray-800 mt-4">
    <a
      href={liveUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center gap-2 text-sm text-cyan-400 hover:text-cyan-300 transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-link">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 15l6 -6" />
          <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
          <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
      </svg>
      <span class="relative after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-cyan-400 after:transition-all after:duration-300 hover:after:w-full">Live Preview</span>
    </a>
    
    <a
      href={githubUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center gap-2 text-sm text-gray-400 hover:text-gray-300 transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"/>
      </svg>
      <span class="relative after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-gray-400 after:transition-all after:duration-300 hover:after:w-full">Github Link</span>
    </a>
  </div>
</div>

